.App {
  text-align: center;
}

.App-logo {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}
